*.iml
*.ipr
*.iws
.idea
.vagrant
!vendor

/dns/server/server
/dns/server/config.yml
/dns/server/kungfu-dns-server

/gateway/server/server
/dns/server/config.yml
/gateway/server/kungu-gateway-server

/ui/server/server
/ui/server/kungu-ui-server
/ui/frontend/dist

/release
